<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="true" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" />

    <include file="$(find panda_interface)/launch/realsense.launch" />

  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" />
</launch>
